{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [ // 按需加载antd  babel-plugin-import
      "import",{
          "libraryName":"antd",
          "libraryDirectory":"es",
          "style":"css"
      }
    ]
  ],


  }